#main, footer {
    text-align: center;
}

footer {
    margin:40px 0;
}

table {
    margin:10px auto;
}

td {
    padding:5px;
    text-align: left;
}
canvas{
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */

}

.bighr{
    /*massive horizontal rule*/
    margin-top:60%;
}
.terminaloutput, #terminaloutput{
    height:30em;
    font-size:1.2em;
    overflow-y:scroll;
    text-align:start;
}
.admin #terminaloutput, .admin .terminaloutput, .admin input{
    background-color:#222;
    color:#ff9b9b;
}
.admin .btn{
    border-color:#222;
    background-color:#ff9b9b;
    color:#222;
}
#adminconsole{
    height:100%;
    padding-bottom:3em;
}
#adminconsole.admin .green{
    color:#0f0 !important;
    font-weight:normal;
}
#adminconsole .green{
    color:#090 !important;
    font-weight:normal;
}